<section class="hero-section">
    <div class="hero-container">
        <img src="/images/universo.png" alt="Universo" class="hero-img">
        <div class="hero-text">
            <h1>Bienvenido a SuperHéroes App</h1>
            <p>Gestioná tu colección de superhéroes favoritos.</p>
        </div>
    </div>
    <div class="hero-btn">
        <a href="/heroes" class="btn btn-add">Ver Lista de Superhéroes</a>
    </div>
</section>