<nav class="navbar">
    <div class="navbar-brand">
        <img src="/images/logo.png" alt="Logo" style="height:40px;"> SuperHéroes App
    </div>
    <ul class="navbar-links">
        <li><a href="/"><img src="/icons/home.svg" alt="Inicio" style="height:16px;"> Inicio</a></li>
        <li><a href="/heroes"><img src="/icons/info.svg" alt="Héroes" style="height:16px;"> Lista de Héroes</a></li>
        <li><a href="/heroes/agregar"><img src="/icons/contact.svg" alt="Agregar" style="height:16px;"> Agregar Héroe</a></li>
    </ul>
</nav>